name: Build and Push Docker Image

on:
  push:
    branches: main

jobs:
  login:
    runs-on: ubuntu-latest
    steps:
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          
      # Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v3

      # Build and tag the Docker image
      - name: Build Docker Image
        run: |
          docker build -t taufiq14s/infisical-cli:latest -f ./Dockerfile .
          docker tag taufiq14s/infisical-cli:latest taufiq14s/infisical-cli:v0.43.32-alpine3.22.2

      # Push the Docker image to Docker Hub
      - name: Push Docker Image
        run: |
          docker push taufiq14s/infisical-cli:latest
          taufiq14s/infisical-cli:v0.43.32-alpine3.22.2
